# Data files (Too large for GitHub)
images/
*.csv
*.jsonl
*.jsonl.gz

# Model weights
*.pth
best_colab_targeted_dropout_model_tf*

# Python environment
__pycache__/
.venv/
env/
.ipynb_checkpoints/
.DS_Store
tfhub_modules/
